<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>
  <body>
    <div class="dashboard-box">
      <h1>Dashboard</h1>
      <div class="dashboard-buttons">
        <div class="row">
          <a class="add button" href="/addMovieRoute">Add Movie</a>
          <a class="update button" href="/updateMovieRoute">Update Movie</a>
          <a class="delete button" href="/deleteMovieRoute">Delete Movie</a>
          <a class="scanAll button" href="/scanAllMovieRoute">Scan All Movie</a>
        </div>
        <div class="row">
          <a class="add button" href="/addTvShowsRoute">Add Show</a>
          <a class="update button" href="/updateTvShowsRoute">Update Show</a>
          <a class="delete button" href="/deleteTvShowsRoute">Delete Show</a>
          <a class="scanAll button" href="/scanAllTvShowsRoute">Scan All Shoes</a>
        </div>
        <div class="row">
          <a class="add button" href="/">Server Status</a>
          <a class="update button" href="/restart">Restart</a>
          <a class="delete button" href="/poweroff">Power Off</a>
          <a class="scanAll button" href="/admin/logout">Logout</a>
        </div>
      </div>
    </div>
  </body>
  <style>
    body{
      background-color: rgba(0, 0, 0, 0.945);
    }
    h1 {
      color: #d4d08b;
    }
    .dashboard-box {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .dashboard-buttons {
      max-width: 100%;
      min-width: 80%;
      background-color: rgba(185, 183, 183, 0.555);
    }
    .row {
      display: grid;
      justify-items: center;
      align-content: center;
      gap: 2rem;
      grid-template-columns: auto auto auto auto;
    }
    .row>a{
      text-decoration: none;
    }
    .button {
      height: 3rem;
      width: 10rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
      margin: 1rem;
      color: #dad0d0;
    }
    .add {
      background-color: rgb(77, 184, 77);
    }
    .delete {
      background-color: rgba(226, 0, 0, 0.63);
      
    }
    .update {
      background-color: rgb(15, 190, 153);

    }
    .scanAll {
      background-color: rgb(238, 143, 0);

    }

  </style>
</html>